---
interface Props {
  showFooterGoBack?: boolean;
  backUrl?: string;
}

const { showFooterGoBack = true, backUrl } = Astro.props;
const url = Astro.url.toString();
const idx = (url.endsWith('/') ? url.slice(0, -1) : url).lastIndexOf('/');
const oneLevelUpUrl = url.slice(0, idx + 1);
---

<footer class="print:hidden">
  {
    showFooterGoBack && (
      <div class="prose mx-auto my-8">
        <br />
        <span class="opacity-50 font-mono"> {'>'}</span>
        <a href={backUrl ?? oneLevelUpUrl} class="opacity-50 hover:opacity-100 font-mono">
          cd ..
        </a>
      </div>
    )
  }
   <div class="prose mt-10 mb-6 prose m-auto flex">
    <span class="font-mono text-[0.75rem] tracking-wide text-dark/60 dark:text-light/50 flex items-center gap-2">
      <a
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        rel="license noopener noreferrer"
        target="_blank"
        class="inline-flex items-center gap-1 decoration-none border-transparent color-inherit!"
        aria-label="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License"
      >
        <span>CC BY-NC-SA 4.0</span>
      </a>
      <span class="opacity-50 select-none">•</span>
      <span>2024–Present © Thabt Sassi</span>
    </span>
  </div>
</footer>
