<script>
  const darkModeToggle: HTMLElement | null = document.querySelector('#dark-mode-toggle');
  const metaThemeColorTag = document.querySelector('meta[name="theme-color"]');

  const isDarkMode = (): boolean => {
    const theme = localStorage.getItem('theme');
    return theme ? theme === 'dark' : true;
  };

  const changeHtmlTheme = (isDark: boolean) => {
    // change html class
    isDark
      ? document.documentElement.classList.add('dark')
      : document.documentElement.classList.remove('dark');

    // update theme-color meta tag
  // Keep in sync with CSS variables in main.css: dark ~ #12132a, light ~ #eaebe6
  metaThemeColorTag?.setAttribute('content', isDark ? '#12132a' : '#eaebe6');
  };

  const calculateEndRadius = (): Number => {
    if (!darkModeToggle) return 0;

    const rect = darkModeToggle.getBoundingClientRect();
    const x = rect.left + rect.width / 2;
    const y = rect.top + rect.height / 2;

    return Math.hypot(Math.max(x, innerWidth - x), Math.max(y, innerHeight - y));
  };

  const changeBgClipRadius = (isDark: boolean) => {
    if (!darkModeToggle) return;

    const endRadius = isDark ? 0 : calculateEndRadius();

    const rect = darkModeToggle.getBoundingClientRect();
    const x = rect.left + rect.width / 2;
    const y = rect.top + rect.height / 2;

    document.documentElement.style.setProperty('--clip-x', `${x}px`);
    document.documentElement.style.setProperty('--clip-y', `${y}px`);
    document.documentElement.style.setProperty('--clip-radius', `${endRadius}px`);
  };

  const toggleDarkMode = () => {
    const isDark = isDarkMode();
    changeHtmlTheme(!isDark);
    changeBgClipRadius(!isDark);
    localStorage.setItem('theme', isDark ? 'light' : 'dark');
  };

  // setup dark mode toggle handlers
  darkModeToggle?.addEventListener('click', toggleDarkMode);
  darkModeToggle?.addEventListener('keypress', (e) => {
    if (e.key === 'Enter') toggleDarkMode();
  });

  // recalculate clip radius on resize
  window.addEventListener('resize', () => changeBgClipRadius(isDarkMode()));

  // change dark mode on mount
  const isDark = isDarkMode();
  changeHtmlTheme(isDark);
  changeBgClipRadius(isDark);
</script>

<div
  tabindex="0"
  role="button"
  id="dark-mode-toggle"
  title="Toggle color scheme"
  class="btn-link cursor-pointer"
  data-trail-cursor
  data-trail-cursor-padding
>
  <div class="max-w-1.2em max-h-1.2em overflow-hidden">
    <span class="i-ri-sun-line block transition-all-400 ease-out dark:translate-y-[-100%]"></span>
    <span class="i-ri-moon-line block transition-all-400 ease-out dark:translate-y-[-100%]"> </span>
  </div>
</div>